$blue: #0000ff;
$red: #ff016b;
$yellow: #ffd700;
$green: #009515;
$grey: #eef0f2;
$black: #353840;

body {
  background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
  background-color: #171129;
}

@import "./component/navbar";
@import "./component/headerbanner";
@import "./component/footer";
@import "./component/contact";
@import "./component/freqasked";
@import "./component/sectionheader";
@import "./component/whatwedo";
@import "./component/dapp";
@import "./shared/colour-tag";
@import "./shared/desp-text";
@import "./shared/colour-header-text";
